.dashboardWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.logoutButton {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logoutButton:hover {
  background-color: #c82333;
}
.galleryGrid {
  display: flex;
  flex-wrap: wrap;
}

.uploadButton {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}
.uploadButton:hover {
  background-color: #0056b3;
}

.sharedHeader {
    margin-top: 2.5rem;
    border-top: 2px solid #eee;
    padding-top: 1rem;
}