.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f89393;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    transition: transform 0.2s;
}

.image {
    width: 100%;
    height: 10rem;
    border-radius: 4px;
    margin-bottom: 4rem;

}

.footer {
    padding: 1rem;
}

.filename {
    font-weight: 500;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0.5rem 0;
}

.action {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
.action:hover {
  background: #eee;
}