.authLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f2f5;
    width: 100vw;
}

.appLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 50vh;
    background-color: aquamarine;
}
