.appShell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.authLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.appLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    width: 100vw;
}

.headerContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: bold;
}

.main{
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 50vh;
}
